<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>REPO 3D</title>
    <%= stylesheet_link_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">REPO 3D</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/"><%= t(:home) %></a></li>
              <li><a href="#about"><%= t(:about) %></a></li>
              <li><a href="#contact"><%= t(:contact) %></a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(:resources) %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="email" placeholder="Email" required>
              <input class="span2" type="password" placeholder="Contraseña" required>
              <button type="submit" class="btn">Registrarse</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" style="font-size: 1.6em;">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
          <%= image_tag('logo2.png') %>
        </div><!--/span-->
        <div class="span9"> 
          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>(ↄ) 2013 <%= link_to "aLabs", 'https://alabs.org/' %></p>
      </footer>

    </div> <!-- /container -->
    <%= javascript_include_tag "application" %>
  </body>
</html>

